.cool-crystal {
    width: 300px;
    height: 300px;
  }

  #number-to-reach{
      background-color: aquamarine;
      color: silver;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
  }

